@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';

}
li {
    cursor: pointer;
}
.selected {
 color: #c0301c;
}

.socials > li {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials > li:hover {
    background: #c0301c;
    transition: 300ms  ease-in-out;
}

